# Dependencies
node_modules/

# Environment variables
.env

# Prisma
prisma/dev.db
prisma/dev.db-journal

# Logs
logs/
*.log

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Coverage
coverage/

# Build
dist/
build/

# Misc
version_check.txt

/generated/prisma
